// out: false

.c-content {
	line-height: 1.35;
	p,
	ul,
	ol {
		margin-bottom: 20px;
	}
	ul,
	ol {
		padding-left: 40px;
		list-style-position: outside;
	}
	ul {
		list-style-type: disc;
	}
	ol {
		list-style-type: decimal;
	}
	a {
		color: #007bff;
		&:hover {
			text-decoration: underline;
		}
	}
	em {
		font-style: italic;
	}
	img {
		height: auto;
	}
}