// out: false

// Color variables

$main_blue: #2E3141;
$white: #FFF;
$gray: #BBC0C2;
$blue: #3C72FF;
$light_blue: #3AA6D4;
$yellow: #F7C15C;

// Screen Sizes
$tablet_viewport: 1024px;
$tablet: 992px;
$mobile: 414px;

// Fonts
$font-icomoon: "Icomoon";